    <tr>
      <td><%= link_to gist.current_question.body.truncate(25), admin_question_path(gist.current_question) %></td>
      <td><%= link_to gist.url %></td>
      <td><%= gist.user.email %></td>
      </td>
    </tr>
