<footer>
  <hr>
  <%= current_year %>
  <%= github_url('hocus2pocus', 'TestGuru') %>
    <p>Приложение TestGuru предназначено для создания и прохождения тестов на самые разнообразные темы. Приложение разработано в рамках курса по разработке с использованием фреймворка  Ruby on Rails от онлайн-школы Thinknetica.</p>
    <a href="http://www.thinknetica.com/" target="_blank">www.thinknetica.com</a>

    <!-- <button class="open-button" onclick="openForm()">Feedback</button> -->
    <p><%= button_to 'Feedback', new_feedback_path, class: "open-button", method: :get %></p>
</footer>

