    <tr>
      <td><%= achieved_badge.created_at.to_date %></td>
      <td><%= octicon "ruby", :height => 50, class: "#{achieved_badge.badge.picture}" %></td>
      <td><%= achieved_badge.description %></td>
    </tr>
